@using Psychology.ViewModels
@model StudentTestViewModel

@{
    Layout = "_Student";
    ViewData["Title"] = "Тесты";
}
<form method="post">
    <article class="post">
        <header>
            <div class="title">
                <h1>Тесты</h1>
            </div>
        </header>
        <footer>
            <div class="select">
                <select asp-for="SortDate" class="form-control" style="width: 250px;">
                    @if (Model.SortDate)
                    {
                        <option selected="selected" value="@true">По дате добавления</option>
                        <option value="@false">По наименованию</option>
                    }
                    else
                    {
                        <option value="@true">По дате добавления</option>
                        <option selected="selected" value="@false">По наименованию</option>
                    }
                </select>
            </div>
            <div class="select">
                <select asp-for="SortDesc" class="form-control" style="width: 220px; margin-left: 20px">
                    @if (Model.SortDesc)
                    {
                        <option value="@false">По возрастанию</option>
                        <option selected="selected" value="@true">По убыванию</option>
                    }
                    else
                    {
                        <option selected="selected" value="@false">По возрастанию</option>
                        <option value="@true">По убыванию</option>
                    }
                </select>
            </div>
            <div class="actions">
                <input class="button" asp-action="SortListTest" style="margin-left: 20px" type="submit" value="Сортировать">
            </div>
        </footer>
        <table style="margin-top: 20px; margin-bottom: -2px">
            <tr><th style="width:35%">Наименование</th><th >Описание</th></tr>
        </table>
        <div class="table-wrapper" style="overflow-x: auto; max-height: 500px; ">
            <table>
                <tr style="display:none">
                </tr>
                @{
                    foreach (var Test in Model.ListTest)
                    {
                        <tr>
                            <td style="width:35%">
                                <a asp-action="InfoTest" asp-route-Id="@Test.Id">@Test.Name</a>
                            </td>
                            <td>
                                @Test.Description
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </article>
</form>