@using Psychology.ViewModels
@model LecturerResultViewModel

@{
    Layout = "_Lecturer";
    ViewData["Title"] = "Просмотр подробностей прохождения";
}
<form asp-action="Index" method="post">
    <article class="post">
        <header>
            <div class="title">
                <h1>@Model.PassageData.Test.Name (@Model.PassageData.Date.ToShortDateString()) - @Model.PassageData.Student.Name</h1>
            </div>
        </header>
        @foreach (var StatisticsQuestion in Model.PassageData.ListPassageDataQuestion)
        {
            var TestQuestion = Model.ListTestQuestion.FirstOrDefault(i => i.NumQuestion == StatisticsQuestion.NumQuestion && i.NumAnswer == StatisticsQuestion.NumAnswer);
            <p><b>@TestQuestion.NumQuestion. @TestQuestion.Question.Text</b> 
            <br />
            @TestQuestion.Answer.Text</p>
         }

    </article>
</form>