@using Psychology.ViewModels
@model LecturerResultViewModel

@{
    Layout = "_Lecturer";
    ViewData["Title"] = "Просмотр результата";
}
<form asp-action="Index" method="post">
    <article class="post">
        <header>
            <div class="title">
                <h1>@Model.PassageData.Test.Name (@Model.PassageData.Date.ToShortDateString()) - @Model.PassageData.Student.Name</h1>
            </div>
            <div class="meta">
                <a target="_blank" asp-action="ViewDetailedResult" asp-route-PassageDataId="@Model.PassageData.Id">Подробности прохождения</a>
            </div>
        </header>

        <h3>Результат</h3>
        <div id="sclrx" class="resScale">
            <div class="nisBlock">
                <table class="nisTable" border=0>

                    @{
                        int i = 1;
                        foreach (var Result in Model.PassageData.ListResult)
                        {
                            var width = 650 * Result.Points / Result.Criteria.ListNumQuestion.Count;
                            <tr>
                                <td class="nisName"><div>@Result.Criteria.Name</div></td>
                                <td class="nisScale" width=650>
                                    <div style="max-width: 650px;">
                                        <svg width="100%" height=25 viewBox="0 0 650 25" preserveAspectRatio="none">
                                            <defs>
                                                <pattern id="pg" x=0 y=0 width=21 height=25 patternUnits="userSpaceOnUse">
                                                    <rect x=0 y=0 width=20 height=25 stroke-width=0 fill="PaleTurquoise" />
                                                </pattern>
                                                <pattern id="pa" x=0 y=0 width=21 height=25 patternUnits="userSpaceOnUse">
                                                    <rect x=0 y=0 width=20 height=25 stroke-width=0 fill="LightSeaGreen" />
                                                </pattern>
                                            </defs>

                                            <rect x=0 y=0 width=650 height=25 stroke-width=0 fill="url(#pg)" />
                                            <rect x=0 y=0 width=@width height=25 stroke-width=0 fill="url(#pa)" />
                                        </svg>
                                    </div>
                                </td>
                                <td class="nisVal"><div>@Result.Points / @Result.Criteria.ListNumQuestion.Count</div></td>
                            </tr>
                            i++;
                        }
                    }

                </table>
            </div>
        </div>

        <footer>
            <select asp-for="ComparisonGroup" class="form-control" style="width: 30%">

                <option selected="selected" value="@true">С результатами группы</option>

                @if (Model.ComparisonGroup)
                {
                    <option value="@false">С предыдушими результатами</option>
                }

            </select>
            <div class="actions">
                <input asp-action="Comparison" style="margin-left: 20px" class="button" type="submit" value="Сравнить">
            </div>
        </footer>

        <h3 style="margin-top: 20px">Обработка результата</h3>
        <textarea>@Model.PassageData.Test.Processing</textarea>

        <input type="hidden" asp-for="PassageDataId" value="@Model.PassageData.Id">
    </article>
</form>

<script>
    var tx = document.getElementsByTagName('textarea');//РАСТЯГИВАЕМ_textarea

    for (var i = 0; i < tx.length; i++) {

        tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden; resize:none; pointer-events:none;');

        tx[i].addEventListener("input", OnInput, false);

    }
</script>

